header {
  position: absolute;
  background: transparent;
  z-index: 3;

  &.fixed-top {
    background: rgb(18 18 18);
    box-shadow: 0 2px 6px #00000029;
    transition: all 0.3s ease-in-out;
    @media (min-width: 991.98px) {
      height: 6rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &.dropdown-menu {
      z-index: 1051;
    }
  }

  nav.navbar {
    background-color: transparent;
    height: 8rem;
    padding: 0 0.5rem;
    z-index: 1;

    .logo-wrapper {
      width: 14.625rem;
      .navbar-brand {
        width: 14.625rem;
      }
    }

    .navbar-collapse {
      .header-right-wrapper {
        display: flex;
        align-items: center;
        .social-icons {
          li {
            margin: 0;
            a.nav-link {
              color: #ffffff;
              padding: 0.5rem 1rem;
              transition: all 0.3s ease-in-out;

              &:hover {
                color: #fff;
              }
            }
          }
        }
      }
    }

    /*Custom Toggler*/
    .custom-toggler {
      border: none;
      background: rgb(18, 18, 18);
      box-shadow: 5px 5px 15px #00000057;
      width: 2.75rem;
      height: 2.75rem;
      align-items: center;
      justify-content: center;
      padding: 0;
      transition: all 0.3s ease;
      z-index: 1051;

      i {
        color: #fff;
        font-size: 1.5rem;
        line-height: 1;
        transition: transform 0.3s ease;
      }

      &.collapsed {
        .menu-close-icon {
          display: none;
        }
        .menu-open-icon {
          display: block;
        }
      }

      &:not(.collapsed) {
        background-color: var(--primary);

        .menu-open-icon {
          display: none;
        }
        .menu-close-icon {
          display: block;
          animation: fadeInRotate 0.3s ease;
        }
      }

      &:focus {
        box-shadow: none;
        outline: none;
      }
    }

    // Opsiyonel: Açılırken ikonun dönerek gelmesi için
    @keyframes fadeInRotate {
      from {
        opacity: 0;
        transform: rotate(-45deg);
      }
      to {
        opacity: 1;
        transform: rotate(0);
      }
    }

    .nav-item {
      margin: 0 1.2rem;

      a {
        text-decoration: none;
        position: relative;

        &.nav-link {
          color: #fff;
          font-weight: 400;
          font-size: 1rem;
          transition: all 0.3s ease-in-out;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0.6rem 1rem;
          border: 2px solid transparent;
        }

        &.nav-link::before,
        &.nav-link::after {
          content: "";
          position: absolute;
          display: block;
          border: 0 solid transparent;
          width: 0%;
          height: 0%;
          transition: all 0.3s ease;
        }

        &.nav-link::after {
          top: 0;
          left: 0;
          border-top: 0.125rem solid transparent;
          border-left: 0.125rem solid transparent;
        }

        &.nav-link::before {
          right: 0;
          bottom: 0;
          border-bottom: 0.125rem solid transparent;
          border-right: 0.125rem solid transparent;
        }

        &.nav-link:hover::before,
        &.nav-link:hover::after {
          width: 0.8125rem;
          height: 0.8125rem;
          border-color: var(--primary);
        }

        &.nav-link:hover {
          transform: scale(0.95);
        }
      }
    }

    .language-wrapper {
      a {
        text-decoration: none;
        color: #fff;
      }
    }

    .dropdown-menu {
      position: absolute;
      padding: 0.5rem 0rem;
      border-left: none;
      border-right: none;
      border-bottom: none;
      left: 0;
      top: 3rem;
      border-top: 0;
      background: #fff;
      border-radius: 1rem;
      z-index: 1001;
      box-shadow: 2px 2px 6px #00000057;

      li {
        position: relative;
      }

      li:first-child {
        a.dropdown-item {
          &.active,
          &:hover {
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
          }
        }
      }

      li:last-child {
        a.dropdown-item {
          &.active,
          &:hover {
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
          }
        }
      }

      .dropdown-item {
        font-size: 1rem;
        font-weight: 500;
        color: #000000;
        transition: all 0.3s ease-in-out;
        margin: 0;
        padding: 0.6rem 1.5rem 0.6rem 2rem;

        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
          min-width: 11rem;
        }

        svg {
          color: #fff;
          fill: #fff;
        }

        &:hover {
          color: var(--primary);
          background-color: transparent;
          &::after {
            display: none;
          }
          &::before {
            display: none;
          }
        }
      }

      .dropdown-item.active,
      .dropdown-item:active {
        color: var(--primary);
      }

      @media (max-width: 991px) {
        position: relative;
        border: 0 !important;
        top: 0;
        padding: 0.3rem 0 0 0;

        .dropdown-item {
          margin: 0;
        }
      }
    }

    .dropdown-submenu {
      position: relative; // Alt menünün pozisyonunu belirler

      .dropdown-menu {
        margin-left: 0rem;
        left: 100%; // Sağ tarafta açılmasını sağlar
        top: 0;
        margin-top: -1px; // Dikey hizalamayı ayarlar
        visibility: hidden; // Varsayılan olarak gizler
        opacity: 0;
        transition: all 0.3s ease-in-out;
      }

      &:hover > .dropdown-menu {
        visibility: visible;
        opacity: 1;
      }

      // Mobil görünüm için
      @media (max-width: 991px) {
        .dropdown-menu {
          position: relative;
          left: 0;
          top: 0;
          margin-top: 0;
          display: none; // Gizler
        }

        &:hover > .dropdown-menu {
          display: block; // Görünür yapar
        }
      }
    }
  }

  @media (max-width: 1200px) {
    nav.navbar {
      padding: 0.5rem 1rem;

      .logo-wrapper {
        max-width: 10rem;
      }

      .navbar-collapse {
        .header-right-wrapper {
          .social-icons {
            margin-top: 0;
            li {
              margin: 0;
              a.nav-link {
                color: #ffffff;
                padding: 0.5rem 0.4rem;
                transition: all 0.3s ease-in-out;

                &:hover {
                  color: #fff;
                }
              }
            }
          }
        }
      }

      .nav-item {
        margin: 0rem;

        .nav-link {
          font-size: 0.75rem;
        }
      }
    }
  }

  @media (max-width: 991.98px) {
    nav.navbar {
      height: auto;

      .logo-wrapper {
        max-width: 9rem;
        z-index: 1051;
      }

      .navbar-collapse {
        margin-top: 1rem;
        z-index: 99;
        .header-right-wrapper {
          display: flex;
          align-items: center;
          margin-top: 1rem;
          justify-content: space-between;
          .social-icons {
            li {
              a.nav-link {
                padding: 0.4rem 0.6rem;
              }
            }
          }
        }
        &.collapse.show {
          background-color: rgb(18, 18, 18, 0.98);
          position: fixed;
          top: 0;
          width: 100%;
          left: 0;
          margin: 0;
          padding: 2rem 1rem;
          height: auto;
          max-height: 600px;
          overflow: auto;
          & > .navbar-nav {
            margin-top: 3rem;
          }
        }
      }

      .logo-wrapper {
        max-width: 100px;
      }

      .nav-item {
        margin: 0.6rem 0;

        .nav-link {
          font-size: 14px;
        }
      }
    }

    li.nav-item.dropdown.custom-dropdown-menu .dropdown-menu {
      margin: 0.5rem 0;
    }
  }

  @media (min-width: 991.98px) {
    a.dropdown-toggle {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .navbar-collapse {
      height: 96px;
    }

    ul.navbar-nav {
      height: 100%;
      align-items: center;
      display: flex;
      justify-content: center;

      li.nav-item {
        height: 100%;
        align-items: center;
        display: flex;
        height: auto;
        justify-content: center;
      }
    }
  }

  @media (max-width: 36rem) {
    top: 0;
  }
}
